/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaDoSistemaSwing/build/
/ResolucaoDeTelaSwing/nbproject/private/
/ResolucaoDeTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/CalculadoraIdade2/nbproject/private/
/CalculadoraIdade2/build/
/OperadoresAritimericos/nbproject/private/
/OperadoresAritimericos/build/
/OperadoresAritimeticosSwing/nbproject/private/
/OperadoresAritimeticosSwing/build/
