/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaDoSistemaSwing/build/
/ResolucaoDeTelaSwing/nbproject/private/
/ResolucaoDeTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/CalculadoraIdade2/nbproject/private/
/CalculadoraIdade2/build/
/OperadoresAritimericos/nbproject/private/
/OperadoresAritimericos/build/
/OperadoresAritimeticosSwing/nbproject/private/
/OperadoresAritimeticosSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadoraSwing/nbproject/private/
/SuperCalculadoraSwing/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/IdiomaDoSistema/target/
/ResolucaoTela/target/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
